@import "nib"

body-bg = #c39e67
header-color = #f3f3f3
header-bg = #369
site-text-shadow = #235796
nav-bg = #fc6
nav-color = #444
button-border = #fc6
button-border-hover = #dba500
button-bg-hover = #fa0
contact-border = #ccc
contact-bg = #82bfe2
contact-color = #f3f3f3
contact-item-border = #036
contact-item-bg = #369
contact-item-bg-hover = #036
contact-item-color-hover = #fc6
section-color = #222
section-bg = white
section-border = #036
font-magra = "Magra", Arial, sans-serif

@font-face
  font-family "Marga"
  src url("magra-bold-webfont.eot")
  src url("magra-bold-webfont.eot?#iefix") format("embedded-opentype"), 
      url("magra-bold-webfont.woff") format("woff"), 
      url("magra-bold-webfont.ttf") format("truetype")
  font-weight normal
  font-style normal

@font-face
  font-family "Oxygen"
  src url("oxygen-regular-webfont.eot");
  src url("oxygen-regular-webfont.eot?#iefix") format("embedded-opentype"),
      url("oxygen-regular-webfont.woff") format("woff"),
      url("oxygen-regular-webfont.ttf") format("truetype")
  font-weight normal
  font-style normal

body
html
  margin 0
  padding 0

body
  background-color body-bg
  background-image url("/images/302.jpg")
  font-family "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif

a
  text-decoration none

.magra
  font-family font-magra

.wrap_top
  left 0
  position fixed
  right 0
  top 0
  z-index 99

.header
  background header-bg
  box-shadow 1px 0 2px rgba(black, 0.75)
  color header-color
  padding 1em
  text-shadow 0 2px 0 site-text-shadow
  h1
    font-family font-magra
    font-size 36px
    font-weight normal
    margin 0
    padding 0
    text-align center
  p
    font-size 18px
    margin 0
    padding 0
    text-align center

.nav
  margin 0
  padding-bottom 8px
  background-color nav-bg
  box-shadow 0 1px 3px rgba(black, 0.25)
  ul
    margin 0 0 0 18px

.dl
  float right
  ul
    margin 0 18px 0 0

.contact
  text-align center
  margin 0 auto 0
  padding 12px 6px 6px 6px
  border 1px solid contact-border
  box-shadow 0 3px 7px rgba(black, 0.5)
  border-radius 3px
  background-image url("/images/204.jpg")
  background-color contact-bg
  ul 
    margin 0 0 6px 0
    li a
      background-color contact-item-bg
      background-image linear-gradient(white 0px, rgba(white, 0) 3px, rgba(white, 0.5) 100%)
      border 1px solid contact-item-border
      border-radius 3px
      box-shadow 0 1px 0 rgba(white, 0.4) inset, 0 1px 1px rgba(black, 0.1)
      color contact-color
      display inline-block
      font-size 14px
      font-weight bold
      line-height 14px
      margin-left 5px
      padding 5px 6px
      text-align center
      text-shadow 0 1px 0 site-text-shadow
      transition-duration 0.1s
      &:hover
        background-color contact-item-bg-hover
        color contact-item-color-hover
        transition-duration 0.3s

.nav
.dl
.contact
  ul
    list-style none outside none
    padding 0
    li
      display inline

.nav
.dl
  ul li a
    color nav-color
  .button
    border 1px solid button-border
    display inline-block
    font-size 14px
    font-weight bold
    line-height 14px
    margin 6px 5px 0 0
    padding 10px 12px
    text-align center
    transition-duration 0.3s
    &:hover
      background-color button-bg-hover
      background-image linear-gradient(white 0px, rgba(white, 0) 3px, rgba(white, 0.5) 100%)
      border 1px solid button-border-hover
      border-radius 3px
      box-shadow 0 1px 0 rgba(white, 0.4) inset, 0 1px 1px rgba(black, 0.1)
      transition-duration 0.3s

.wrap_cont
  margin 185px 0 0 0
  padding 0

.section
  width 80%
  color section-color
  margin 0 auto 30px
  background-color section-bg
  padding 40px 50px 40px
  border-radius 4px
  border 1px solid section-border
  box-shadow 0 3px 7px rgba(black, 0.7)
  h2
    font-family font-magra
    font-weight normal

.cv
  text-align justify
  h1
    font-size 28px
    font-family font-magra
    font-weight normal

.intro
  td
    vertical-align top
  .fcol
    width 150px

.title
  font-weight bold

.timeframe
  text-align right

.edu
  width 100%
  .school
    font-weight bold
  .desc
    padding 6px 0 6px 0

.whatiddo
  table
    margin 24px auto
    background-color black
    color white
    width 95%
    border-radius 2px
    box-shadow 0 3px 7px rgba(black, 0.7)
  th
    font-size 46px
    font-family font-magra
    font-weight normal
    padding 6px
  td
    text-align center
    font-size 22px
    padding 6px

.comparison
.center
  margin-left auto
  margin-right auto

.labelcontent
  display none

.cv
  td
    vertical-align top