@font-face{
    font-family: 'Magra';
    src: url('magra-bold-webfont.eot');
    src: url('magra-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('magra-bold-webfont.woff') format('woff'),
         url('magra-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Oxygen';
    src: url('oxygen-regular-webfont.eot');
    src: url('oxygen-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('oxygen-regular-webfont.woff') format('woff'),
         url('oxygen-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url("/images/302.jpg");
  background-color: #c39e67;
}

.magra{
  font-family: 'Magra', Arial, sans-serif;
}

#wrap_top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

#header{
  padding: 1em;
  color: #F3F3F3;
  background: #369;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.75);
  text-shadow: 0 2px 0 #235796;
}

#header h1{
  font-family: 'Magra', Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

#header p{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

a{
  text-decoration: none;
}

#nav{
  margin: 0;
  padding-bottom: 8px;
  background-color: #fc6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

#dl{
  float: right;
}

#nav .button,
#dl .button{
  border: 1px solid #fc6;
  display: inline-block;
  font-weight: bold;
  padding: 10px 12px;
  margin-left: 5px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#contact{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 6px 6px 6px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-image: url("/images/420.gif");
  background-color: #82bfe2;
}

#contact ul li a{
  color: #f3f3f3;
  text-shadow: 0 1px 0 #235796;
  border: 1px solid #036;
  font-size: 14px;
  line-height: 14px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-weight: bold;
  padding: 5px 6px;  
  margin-left: 5px;
  text-align: center;
  background-color: #369;
  background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.50) 100%);
  background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.50) 100%);
  background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.50) 100%);
  background-image: -ms-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.50) 100%);
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

#contact ul li a:hover{
  background-color: #036;
  color: #fc6;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#nav .button:hover,
#dl .button:hover{
  border: 1px solid #dba500;
  background-color: #fa0;
  border-radius: 3px;
  padding: 10px 12px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
  background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
  background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
  background-image: -ms-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#nav ul,
#dl ul,
#contact ul{
  list-style: none outside none;
  padding: 0;
}

#nav ul{
  margin: 0 0 0 18px;
}

#dl ul{
  margin: 0 18px 0 0;
}

#contact ul{
  margin: 0 0 6px 0;
}

#nav ul li,
#dl ul li,
#contact ul li{
  display: inline;
}

#nav ul li a,
#dl ul li a{
  color: #444;
}

#wrap_cont{
  margin: 185px 0 0 0;
  padding: 0;
}

#section{
  width: 80%;
  color: #222;
  margin: 0 auto 30px;
  background-color: #fff;
  padding: 40px 50px 40px;
  border-radius: 4px;
  border: 1px solid #036;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
}

#section h2{
	font-family: 'Magra', Arial, sans-serif;
	font-weight: normal;
}

#cv {
  text-align: justify;
}

#cv h1{
  font-size: 28px;
  font-family: 'Magra', Arial, sans-serif;
  font-weight: normal;
}

#intro td{
  vertical-align: top;
}

#intro .fcol{
  width: 150px;
}

.title{
  font-weight: bold;
}

.timeframe{
  text-align: right;
}

#edu{
  width: 100%;
}

#edu .school{
  font-weight: bold;
}

#edu .desc{
  padding-top: 6px;
  padding-bottom: 6px;
}

#whatiddo table{
	margin: 24px auto;
	background-color: #000;
	color: #fff;
	width: 95%;
	border-radius: 2px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
}

#whatiddo th{
	font-size: 46px;
	font-family: 'Magra', Arial, sans-serif;
	font-weight: normal;
	padding: 6px;
}

#whatiddo td{
	text-align: center;
	font-size: 22px;
	padding: 6px;
}

#comparison{
	margin-left: auto;
	margin-right: auto;
}