@import "nib"

header-bg = #369
section-color = #222
font-magra = "Magra", Arial, sans-serif

body
  background-image none
  background-color white

.wrap_top
  position static

.header
  padding 1em
  color header-bg
  background white
  h1
    font-family font-magra
    font-weight normal
    text-align left
    margin 0
    padding 0
  p
    margin 0
    padding 0
    text-align left

.nav
  display none

.dl
  display none

.wrap_cont
  margin 0

.section
  width auto
  color section-color
  margin 0
  background-color white
  padding 20px
  border-radius none
  border none
  box-shadow none
