@import "nib"

body-bg = #ededed
nav-bg = #a3a4a4
nav-hover-bg = #37404b
main-bg = #ededed
main-color = #2a2d2e
main-link-color = #37404b
main-hover-color = #76c2ea
head-color = #2a2d2e
nav-color = #2a2d2e
nav-hover-color = #ededed
right-h1-color = #ededed
right-color = #76c2ea
right-hover-color = #a9cfdf
right-bg = #37404b

handwriting-font = 'Gochi Hand', cursive

body
  font-family 'Lato', sans-serif
  background body-bg
  margin 0
  padding 0
  line-height 125%

.hidden
  display none

.head
  margin auto 0
  padding 0.25em 0
  text-align center
  > p
    font-weight bold
    font-size 1.6em
    color head-color

.nav
  background nav-bg
  text-align center
  padding 0.5em
  font-size 1.3em
  text-shadow 0 1px 0 rgba(black, 0.15)
  > ul
    list-style none outside none
    margin 0
    padding 0
    > li
      display inline-block
      padding 0
      a
        margin 0
        padding 0.5em
        color nav-color
        text-decoration none
        transition-duration 0.1s
        &.selected
        &:hover
          color nav-hover-color
          background-color nav-hover-bg
          transition-duration 0.2s

.main
  h1
    text-align center
  background main-bg
  color main-color
  a
    text-decoration none
    color main-link-color
    font-weight bold
    transition-duration 0.1s
    &:hover
      color main-hover-color
      transition-duration 0.2s
  .right
    float left
    width 260px
    margin 0.5em 0 0 -260px
    text-align center
    h1
      font-size 1.3em
      margin 0 0.4em
      padding 0.5em
      background-color right-bg
      color right-h1-color
    > ul
      background-color right-bg
      color right-color
      list-style none
      margin 0 0.5em 0
      padding 1em 0
      > li
        padding 0.1em
        margin 0
        a
          text-decoration none
          color right-color
          transition-duration 0.1s
          &:hover
            color right-hover-color
            font-weight bold
            transition-duration 0.2s
  .left
    float left
    width 100%
    .content
      padding 2em
      margin-right 260px
  .single
    padding 0.5em 3em
  pre
    color right-color
    background-color right-bg
    padding 1em

.files
  text-align center
  font-size 1.6em
  margin 0.5em

.cv
  padding 0.5em 6em
  td
    vertical-align top
  .intro
    td.summary:first-child
      padding-bottom 1em
      font-weight normal
    td:first-child
      font-weight bold
  .lead
    font-weight bold
  .timeframe
    text-align right
  .other
    font-size 16px
    font-weight normal
    padding 1em 0
    text-align center
  .edu
    width 100%
  .desc
    padding-bottom 1em

.photos
  padding 3em
  text-align center
  margin 0 auto
  a
    vertical-align middle
    display inline-block
    padding 0.75em
    margin 0.75em 0.75em 0.65em
    box-shadow 5px 5px 20px main-color
    background-color white
    text-decoration none
    font-size 1.2em
    font-family handwriting-font
  .r-left
    transform rotate(-2deg) scale(1)
    &:hover
      transform rotate(0) scale(1.1)
  .r-right
    transform rotate(2deg) scale(1)
    &:hover
      transform rotate(0) scale(1.1)
  img
    border none
    display block
    margin-bottom 6px

.photo-viewer
  width auto
  height auto
  position fixed
  overflow hidden
  left 0
  top 0
  bottom 0
  right 0
  padding 1em
  z-index 999
  text-align center
  background rgba(right-bg, 0.5)
  .title
    position relative
    margin 40px auto 0px auto
  a.close
    position absolute
    top 0
    right 0
    margin 1em
    z-index 1001
    font-size 36px
    text-decoration none
    padding 3px 6px
  img
    max-height 100%
    max-width 100%
    opacity 1
    transition opacity 0.5s linear
    box-shadow 0 0 24px rgba(black, 0.7)
    animation fadeInScale 1.2s ease-in-out

@keyframes fadeInScale
  0%
    transform scale(0.6)
    opacity 0
  100%
    transform scale(1)
    opacity 1

.foot
  clear both
  padding 1em
  text-align center