h1 CV/Résumé
p.files
  a(href='/static/KPK_cv_resume.pdf', download='KPK_cv_resume.pdf', rel='alternate', title='PDF Version')
    i.fa.fa-file-pdf-o
  span  - 
  a(href='/static/KPK_cv_resume.docx', download='KPK_cv_resume.docx', rel='alternate', title='Microsoft Word Version')
    i.fa.fa-file-word-o
.cv
  table.intro
    tbody
      tr
        td.summary(colspan=2)
          | Experienced leader who delivers technology management that meets the needs of the business. Focus on
          | delivering solutions that solve business problems effectively. Recently experienced in leading edge 
          | OTT media operators as well as having a background in business-to-business and large-scale contact centre
          | technology.
      tr
        td.summary(colspan=2)
          ul
            li Strong and diverse technical experience
            li Experience with diverse sourcing models
            li Direct, forthright and accountable
            li.
              Capable business acumen with understanding from marketing, sales, operations, innovation and delivery
            li.
              Able to identify and grow talent
      tr
        td.fcol Right to Work
        td
          | United States (US Citizen/Passport)
          br
          | United Kingdom/EEA (UK Citizen/Passport)
  h2 Professional Experience
  table.exp
    tbody
      tr.lead
        td.title Head of Technology
        td.company NOW TV
        td.location London, UK
        td.timeframe September 2013 - Present
      tr
        td.desc(colspan=4)
          .summary
            | Lead technology for the fastest growing OTT video streaming service in the UK.  As part of Sky Plc., NOW TV has gained 
            | success in getting non-pay TV customers to pay for TV.  Having the biggest and best pay TV content in the UK has meant 
            | that NOW TV has had to have a diverse distribution as well as the ability to meet the scalability demands of the 
            | customers.
          ul
            li.
              Oversaw an over 10 fold increase in customers
            li.
              Responsible for the whole gamut of technology, from client application to customer management systems, to eCommerce
            li.
              Led teams innovating in solving technology challenges that had never been encountered before
            li.
              Launched clients on new eight devices
            li.
              Enabled delivery of consumer electronic devices via online and through a retail supply chain
            li.
              Directly responsible for a department of 110 and over £10m annual budget

      tr.lead
        td.title Head of Technology
        td.company Sky Business
        td.location Livingston, Scotland, UK
        td.timeframe May 2010 - August 2013
      tr
        td.desc(colspan=4)
          .summary
            | Lead technology fort the business-to-business division of Sky, supplying Sky and The Cloud WiFi to tens of thousands of 
            | locations across the UK and ROI.
          ul
            li.
              Delivered the multi-million pound CRM replacement programme
            li.
              Integrated the Cloud WiFi provisioning and management into CRM systems
            li.
              Transitioned from 160 contact-led department delivering a programme to a 70 person efficient perm BAU department over 2 years
      tr.lead
        td.title Director
        td.company Asseverate Services Limited
        td.location London, UK
        td.timeframe October 2009 - May 2010
      tr
        td.desc(colspan=4)
          .summary
            | An independent contractor, focusing on call centre technology.  Led the technical architecture and operations activities 
            | to stabilise the contact centre technology for a large client while assisting in charting a course to return the 
            | solution to BAU operations.
      tr.lead
        td.title Practice Solution Architect
        td.company Dimension Data
        td.location London, UK
        td.timeframe December 2006 - October 2009
      tr
        td.desc(colspan=4)
          .summary
            | Led architecture and solution design for engagements in the UK around call centre technology.  Focused on large-scale 
            | VoIP contact centres and self-service speech recognition technology.
          ul
            li.
              Architected the largest VoIP contact centre at the time around 7k users over 8 locations
            li.
              Provided thought leadership and consulting in contact centre technology in Europe, South Africa and Australia in addition to the UK
            li.
              Architected and led delivery of a speech-recognition voice self service solution
            li.
              Led technical conversations between Cisco and Genesys about integration of their VoIP products

      tr.lead
        td.title Senior Principal Consultant
        td.company eLoyalty (now Teletech)
        td.location Lake Forest, IL, USA
        td.timeframe January 1998 - September 2006
      tr
        td.desc(colspan=4)
          .summary
            | Consultant and architect providing services in the call centre technology arena.  Focused on large scale, global 
            | solutions for large enterprises.
          ul
            li.
              Assignments globally, including Hong Kong, Germany, Ireland, UK and France
            li.
              Led relationship for key suppliers and vendors
            li.
              Clients in media, insurance, finance, healthcare, communications and service sectors

  .other Other professional experience to January 1998 available upon request.
  h2 Education
  table.edu
    tbody
      tr.lead
        td.school Glendale Community College
        td.location Glendale, AZ, USA
        td.timeframe September 1992 - June 1993
      tr
        td.desc(colspan=3) Non-degree attendance for an academic year at a community college.
      tr.lead
        td.school Cactus High School
        td.location Glendale, AZ, USA
        td.timeframe August 1987 - June 1991
      tr
        td.desc(colspan=3) High School Diploma
