#dl
  ul
    li
      a.button#pdf(href="/static/KPK_cv_resume.pdf") PDF
    li
      a.button#word(href="/static/KPK_cv_resume.docx") Word
    li
      a.button#print(href="javascript:window.print()") Print