h1 Hello Dojo
p
  | The 
  a(href="http://dojotoolkit.org", target="_blank", title="Dojo Toolkit Website") Dojo Toolkit 
  | is a JavaScript toolkit/framework that provides the tools you need to create a cross browser
  | web application, or even a server side application in JavaScript.
p
  | I am one of the most recent comitters to the project, but have been using Dojo for side-projects 
  | since 2009, when I first started looking at web apps.  My personal requirements that led me to Dojo
  | where that it should be 100% <em>thin-client</em> and it should also provide not only the foundation of
  | AJAX but also incorporate UI elements as well.
p
  | To demonstrate the power of Dojo (and Javascript), this 
  a(href="https://github.com/kitsonk/kitsonkelly.com/", target="_blank", title="GitHub Repository") website
  |, both client and server, are written leveraging Dojo.  This server is a 
  a(href="http://nodejs.org", target="_blank", title="Node.js Website") Node.js 
  | server, that bootstraps Dojo and then the rest of the server runs under the Dojo AMD Loader.  As of 
  | Dojo 1.8 there is a module called 
  a(href="http://livedocs.dojotoolkit.org/dojo/node", target="_blank") dojo/node 
  | that allows the seemless usage of standard Node.js modules within an AMD code-block.  This allows 
  | for me to blend the two together but predominantly utilise a Dojo AMD coding style in my JavaScript.
  | This, at least for me, means one less sort of coding style/framework/whatever that I need to wrap my 
  | mind around.
#lastFM
  | Testing...