.left
  .content
    p.
      I am responsible for the technology for <a href="//www.nowtv.com/" target="_blank">NOW TV</a>, a rapidly growing UK OTT
      business owned by <a href="//corporate.sky.com/" target="_blank">Sky Plc.</a>  Prior to that, I worked for Sky in a
      couple of different roles.  I have been in technology most of my whole career, having worked in mainly consulting
      prior to joining Sky in 2010.
    p.
      I was born and raised in the US, mainly in the Phoenix, Arizona area.  I resided in Chicago for about 10 years but
      travelled for work abroad extensively until 2006 when I moved to the UK permenantly.  I obtained UK citizenship 3
      years later and am a dual US/UK Citizen.  I have been with my partner, Simon, since 2001.  We formalised our
      relationship in late 2006 as a civil partnership in the UK and converted to a marriage in the UK in December 2014.
    p.
      My sister, while not being mother to her son, is quite the <a href="http://www.mollykellyphotography.com/"
      target="_blank">photographer</a>.  She currently lives with my semi-retired parents in the Phoenix area.
    p.
      While work doesn't allow me much time to pursue my own technical hobbies, I do quite enjoy hacking around.  I am
      quite proud of my little website, since I have written it from “scratch” including the web server that it is
      running on.  Actually, I have combined together several pieces of technology to bring you this website, including
      <a href="http://nodejs.org/" target="_blank">NodeJS</a>, <a href="http://dojotoolkit.org/" target="_blank">Dojo
      Toolkit</a>, <a href="http://jade-lang.com/" target="_blank">Jade</a>, <a href="http://expressjs.com">Express</a>,
      <a href="http://learnboost.github.io/stylus/">Stylus</a> and some of my own projects.
.right
  h1 Interact
  ul
    li
      a(href='https://twitter.com/kitsonk', target='_blank')
        i.fa.fa-twitter-square
        span  @kitsonk
    li
      a(href='https://plus.google.com/+KitsonKelly/', target='_blank')
        i.fa.fa-google-plus-square
        span  +KitsonKelly
    li
      a(href='https://facebook.com/kitsonk/', target='_blank') 
        i.fa.fa-facebook-square
        span  kitsonk
    li
      a(href='https://uk.linkedin.com/in/kitsonkelly/', target='_blank')
        i.fa.fa-linkedin-square
        span  kitsonkelly
    li
      a(href='https://github.com/kitsonk', target='_blank')
        i.fa.fa-github
        span  kitsonk
    li
      a(href='skype:kitsonk?chat')
        i.fa.fa-skype
        span  kitsonk
    li 
      a(href='http://blog.kitsonkelly.com', target='_blank')
        i.fa.fa-quote-left
        span  blog
