h1 #{subtitle}
#photo-viewer.photo-viewer.hidden
  img(src="photos/full/IMG_0481.png")
  a.close(href="#")
    i.fa.fa-times-circle-o
.photos
  a.r-right(href="#")
    img(src="photos/thumb/IMG_0363.png")
    span Panda
  a.r-left(href="#")
    img(src="photos/thumb/DSCN0211.png")
    span Fox Glacier
  a.r-right(href="#")
    img(src="photos/thumb/IMG_2624.png")
    span Jack
  a.r-left(href="#")
    img(src="photos/thumb/DSC_0254.png")
    span Sarah and Ewan
  a.r-right(href="#")
    img(src="photos/thumb/DSC_0263.png")
    span Simon and Myself
  a.r-left(href="#")
    img(src="photos/thumb/IMG_0682.png")
    span Edinburgh
  a.r-left(href="#")
    img(src="photos/thumb/IMG_2769.png")
    span Olympics
  a.r-right(href="#")
    img(src="photos/thumb/IMG_0481.png")
    span Gumps
  a.r-left(href="#")
    img(src="photos/thumb/IMG_0664.png")
    span Sound OK Horn!
  a.r-right(href="#")
    img(src="photos/thumb/IMG_0707.png")
    span New Zealand '06
  a.r-left(href="#")
    img(src="photos/thumb/IMG_0790.png")
    span Jeff
  a.r-right(href="#")
    img(src="photos/thumb/IMG_0870.png")
    span Jack Drumming
  a.r-left(href="#")
    img(src="photos/thumb/IMG_0926.png")
    span Auckland '06
  a.r-right(href="#")
    img(src="photos/thumb/IMG_1024.png")
    span Sheep!!!
  a.r-left(href="#")
    img(src="photos/thumb/IMG_1148.png")
    span Kiwi Train
  a.r-right(href="#")
    img(src="photos/thumb/IMG_1349.png")
    span Pelennor Fields
  a.r-left(href="#")
    img(src="photos/thumb/IMG_1557.png")
    span Christchurch
  a.r-right(href="#")
    img(src="photos/thumb/IMG_1611.png")
    span Simon at Brighton Marathon
  a.r-left(href="#")
    img(src="photos/thumb/IMG_1695.png")
    span Dad
