extends layout

prepend head
  title = "Kitson P. Kelly"
  subtitle = "404 - Resource Not Found"

block content
  #resource The requested resource 
    code= url
    |  was not found.
    p 
      | It might be easier to go back to the 
      a(href="/") homepage
      |  and try again.  Sorry...
  br
  hr
  address Powered by 
    a(href="http://nodejs.org/") node.js
    |  and 
    a(href="http://expressjs.com/") express
    |  and 
    a(href="http://jade-lang.com/") jade
    |  and 
    a(href="http://dojotoolkit.org/") Dojo Toolkit
    | .
