extends layout

prepend head
  title = "Kitson P. Kelly"
  subtitle = "500 - Internal Error"

block content
  h1 Error: #{error.message}
  pre= error.stack
  hr
  address Powered by 
    a(href="http://nodejs.org/") node.js
    |  and 
    a(href="http://expressjs.com/") express
    |  and 
    a(href="http://jade-lang.com/") jade
    |  and 
    a(href="http://dojotoolkit.org/") Dojo Toolkit
    | .