extends layout

prepend head
  title = "Kitson P. Kelly"
  subtitle = "curriculum vitae/résumé"

append scripts
  script(src='/lib/kitsonkelly/src.js')

append navigation
  #dl
    ul
      li
        a#pdf(href="cv.pdf") PDF
      li
        a#word(href="cv.docx") Word
      li
        a#html(href="cv.html") HTML
      li
        a#print(href="#") Print

block content
  #cv
    h1 Overview
    table#intro
      tbody
        tr
          td.fcol Summary
          td
            | I have focused most of my career on the point where an organisation meets a consumer.  I have always been intrigued with 
            | that relationship.  I have migrated from designing and delivering systems to managing significant customer management IT
            | operations.  My mantra is that technology should led by business problems, not technology solutions looking for problems 
            | to solve.  Having both a grounding and familiarity with both technical and business operations, I feel I am a strong 
            | senior leader that can help drive your organisation forward.
        tr
          td Right to Work
          td
            | US Citizen, UK Citizen (EU Passport Holder)
        tr
          td Preferred Location
          td Vancouver, BC, Canada
    h1 Experience
    table#exp
      tbody
        tr
          td.title Head of Sky Business Technology
          td.company British Sky Broadcasting
          td.location Livingston, Scotland, UK
          td.timeframe May 2010 - Present
        tr
          td.desc(colspan=4)
            ul
              li
                | Responsible for the IT department looking after the commercial customer management systems for a business unit 
                | that generates £220 million in revenue annually, manages around 36,000 commercial customers and provides the 
                | UK's largest public WiFi network.
              li 
                | Full accountability for departmental P&L, budgeting, operations, development and delivery.
              li
                | Business systems managed the full gamut of customer lifecycle including billing, customer service, assurance, 
                | equipment management, fulfilment, field services, document management, correspondence and business 
                | intelligence and customer management.
              li
                | Successfully delivered platform by managing a juggernaut of a programme of work and then operationalising the 
                | team and platform over a period of about two years.
              li
                | Previous roles as Head of Department for Business Intelligence and Integration for the consumer part of the 
                | business, supporting 10+ million subscribers and 700+ million business transactions per month.
        tr
          td.title Self Employed
          td.company Asseverate Services Limited
          td.location London, UK
          td.timeframe October 2009 - April 2010
        tr
          td.desc(colspan=4)
            ul
              li
                | Contracted with BSkyB to provide architecture and consulting services surrounding the voice aspect of the 
                | customer management platform.
              li
                | Technical lead to stabilise the 3,500 concurrent user contact centre voice platform after a significant 
                | level of stability.  Platform went from being unavailable 3-4 times a week for about 4 hours at a time to 
                | having no significant outages for over two years.
        tr
          td.title Practice Solution Architect
          td.company Dimension Data
          td.location London, UK
          td.timeframe December 2006 - September 2009
        tr
          td.desc(colspan=4)
            ul
              li
                | Provided technical architecture for complex contact centre telecoms integrations and voice self service 
                | applications.
              li
                | Globally recognised thought leader in VoIP contact centre solutions, presenting and consulting in Europe, 
                | North America, South Africa and Australia as a subject matter expert.
              li
                | Managed Dimension Data's relationship in the UK with Genesys Telecommunications and worked with Genesys
                | and Cisco at executive levels to develop a level of interoperability between their VoIP contact centre 
                | solutions.
              li
                | Architected an award winning global VoIP contact centre and speech self service platform for BSkyB.
        tr
          td.title Senior Principal Consultant
          td.company eLoyalty
          td.location Lake Forest, IL, USA
          td.timeframe January 1998 - October 2006
        tr
          td.desc(colspan=4)
            ul
              li
                | Started as a entry level consultant and continued to grow and extend expertise in large scale contact 
                | centre solutions across that breadth of solutions including voice call routing, customer management, 
                | computer telephony integration and speech self service.
              li
                | Provided expertise globally including clients in Hong Kong, Germany, Republic of Ireland, North Ireland, 
                | France, the United Kingdom and the breadth of the US.  Expertise was across sectors including 
                | Telecommunications, Media, Insurance, Financial Services and Healthcare.  Notable clients were AIG/AIA, 
                | Allstate Insurance, United Healthcare, Vodafone Ireland, Bally's Total Fitness, Capita BBC, WageWorks 
                | and Axel Springer Verlag.
              li
                | Led the relationship between Genesys Telecommunications and eLoyalty.
        tr
          td.title Technical Analyst
          td.company Ameritech
          td.location Schaumburg, IL, USA
          td.timeframe August 1997 - December 1997
        tr
          td.desc(colspan=4)
            ul
              li
                | Analysed, designed, built and tested complex customer telephony integration solutions, in both the 
                | business to consumer and business to business areas of Ameritech.
        tr
          td.title Project Manager
          td.company MicroAge Teleservices
          td.location Temple, AZ, USA
          td.timeframe July 1995 - July 1997
        tr
          td.desc(colspan=4)
            ul
              li
                | Filled a variety of rolls from contact centre agent, to contact centre supervisor, to project manager, 
                | to technical lead and architect for an outsource contact centre operation.
    h1 Education
    table#edu
      tbody
        tr
          td.school Glendale Community College
          td.location Glendale, AZ, USA
          td.timeframe September 1992 - June 1993
        tr
          td.desc(colspan=3) Non-degree attendance for an academic year at a community college.
        tr
          td.school Cactus High School
          td.location Glendale, AZ, USA
          td.timeframe August 1987 - June 1991
        tr
          td.desc(colspan=3) High School Diploma
