extends layout

prepend head
  title = "Kitson P. Kelly"
  subtitle = "dojo toolkit"

append scripts
  script(src='/lib/kitsonkelly/src.js')

block content
  h1 Dojo Toolkit
  p
    | The Dojo Toolkit is a JavaScript toolkit