extends layout

prepend head
  title = "Kitson P. Kelly"
  subtitle = "presence on the interwebs"

append scripts
  script(type="text/javascript", src='/lib/kitsonkelly/src.js')

block content
  #contact
    ul
      li 
        a#twitter(href="http://twitter.com/kitsonk", target="_blank", title="Twitter") @kitsonk
      li 
        a#gplus(href="http://gplus.to/Kitson", target="_blank", title="Google +") +Kitson
      li 
        a#facebook(href="http://facebook.com/kitsonk", target="_blank", title="FaceBook") facebook.com/kitsonk
      li 
        a#linkedin(href="http://linkedin.com/in/kitsonkelly", target="_blank", title="LinkedIn") linkedin.com/in/kitsonkelly
      li
        a#lastfm(href="http://last.fm/user/kitsonk", target="_blank", title="LastFM") last.fm/user/kitsonk
      li
        a#blog(href="http://blog.kitsonkelly.com", target="_blank", title="WordPress") blog
  #intro
    h2 Welcome
    p
      | You have discovered my home on the internet.  Of course it wasn't overly difficult, because the domain name 
      | happens to my name.  I guess that was a fairly decent hint.
    p 
      | How about a slightly overused internet meme to explain myself:
  #whatiddo
    table
      thead
        tr
          th(colspan=3) Kitson P. Kelly
      tbody
        tr
          td
            img(src="images/Tps_report.jpg")
          td
            img(src="images/videogame.jpg")
          td
            img(src="images/phb.jpg")
        tr
          td What my friends think I do
          td What my Mom thinks I do
          td What society thinks I do
        tr
          td
            img(src="images/phb_meeting.jpg")
          td 
            img(src="images/dojotoolkit.jpg")
          td
            img(src="images/starbucks.jpg")
        tr
          td What my team thinks I do
          td What I think I do
          td What I really do
  #moreinfo
    h2 More Information
    p
      | It is hard to predict what led you to my website.  Could be any number of things, most likely curosity or 
      | a even an incorrect google search.  No matter what, you are here now and I can now subject you to my witty musings
      | until you decide you have had enough.
    p
      | If you are trying to figure out if you have the right Kitson P. Kelly (I would not think there are many) then here 
      | is a comparison of somethings I am and some that I am not:
    table#comparison
      thead
        tr
          th I am...
          th I am not...
      tbody
        tr
          td
            ul
              li#item01 Senior IT Manager for BSkyB
              li#item02 Partner to Simon
              li#item03 Dojo Committer
              li#item04 Movie Enthusiast
              li#item05 American Expatriate
              li#item06 Uncle
              li#item07 Seven Foot Tall Cactus
          td
            ul
              li#item11 Steve Jobs
              li#item12 Partner at Simon &amp; Schuster
              li#item13 Run a Dojo
              li#item14 Moo Enthusiast
              li#item15 Armenia Export
              li#item16 The Man from U.N.C.L.E.
              li#item17 A Dill Pickle
  #labelcontent
    #item01content
      .center
        p Head of Sky Business Technology
        img(src="images/sky.png", width=100, height=70)
    #item02content
      img(src="images/kitsimon.jpg", width=200, height=188)
    #item03content
      .center
        img(src="images/dtk.png", width=150, height=98)
        p Unbeatable JavaScript Tools
    #item04content
      img(src="images/the-critic.jpg", width=200, height=150)
    #item05content
      img(src="images/ukyankee.jpg", width=173, height=173)
    #item06content
      img(src="images/tristan.jpg", width=200, height=154)
    #item07content
      img(src="images/cactus_kit.jpg", width=133, height=200)
    #item11content
      img(src="images/steve-jobs.jpg", width=155, height=200)
    #item12content
      img(src="images/simonschuster.jpg", width=150, height=128)
    #item13content
      img(src="images/adojo.jpg", width=200, height=150)
    #item14content
      img(src="images/moo.png", width=200, height=178)
    #item15content
      img(src="images/armeniaexport.jpg", width=200, height=156)
    #item16content
      img(src="images/man-from-uncle.jpg", width=200, height=155)
    #item17content
      img(src="images/pickle.jpg", width=109, height=200)