extends layout

prepend head
  title = "Kitson P. Kelly"
  subtitle = "presence on the interwebs"

block content
  #contact
    ul
      li 
        a#twitter(href="http://twitter.com/kitsonk", target="_blank", title="Twitter") @kitsonk
      li 
        a#gplus(href="http://gplus.to/Kitson", target="_blank", title="Google +") +Kitson
      li 
        a#facebook(href="http://facebook.com/kitsonk", target="_blank", title="FaceBook") facebook.com/kitsonk
      li 
        a#linkedin(href="http://linkedin.com/in/kitsonkelly", target="_blank", title="LinkedIn") linkedin.com/in/kitsonkelly
      li
        a#lastfm(href="http://last.fm/user/kitsonk", target="_blank", title="LastFM") last.fm/user/kitsonk
      li
        a#blog(href="http://blog.kitsonkelly.com", target="_blank", title="WordPress") blog
  #intro
    h2 Welcome
    p
      | You have discovered my home on the internet.  Of course it wasn't overly difficult, because the domain name 
      | happens to my name.  I guess that was a fairly decent hint.
    p 
      | How about a slightly overused internet meme to explain myself:
  #whatiddo
    table
      thead
        tr
          th(colspan=3) Kitson P. Kelly
      tbody
        tr
          td
            img(src="images/Tps_report.jpg")
          td
            img(src="images/videogame.jpg")
          td
            img(src="images/phb.jpg")
        tr
          td What my friends think I do
          td What my Mom thinks I do
          td What society thinks I do
        tr
          td
            img(src="images/phb_meeting.jpg")
          td 
            img(src="images/dojotoolkit.jpg")
          td
            img(src="images/starbucks.jpg")
        tr
          td What my team thinks I do
          td What I think I do
          td What I really do
  #moreinfo
    h2 More Information
    p
      | It is hard to predict what led you to my website.  Could be any number of things, most likely curosity or 
      | a even an incorrect google search.  No matter what, you are here now and I can now subject you to my witty musings
      | until you decide you have had enough.
    p
      | If you are trying to figure out if you have the right Kitson P. Kelly (I would not think there are many) then here 
      | is a comparison of somethings I am and some that I am not:
    table#comparison
      thead
        tr
          th I am...
          th I am not...
      tbody
        tr
          td
            ul
              li Senior IT Manager for BSkyB
              li Partner to Simon
              li Dojo Committer
              li Movie Enthusiast
              li American Expatriate
              li Uncle
              li Seven Foot Tall Cactus
          td
            ul
              li Steve Jobs
              li Partner at Simon &amp; Schuster
              li Run a Dojo
              li Moo Enthusiast
              li Armenian Patriot
              li The Man from U.N.C.L.E.
              li A Dill Pickle
