extends layout

prepend head
  title = "Kitson P. Kelly"
  subtitle = "presence on the interwebs"

append scripts
  script(src='/lib/kitsonkelly/src.js')

block content
  #comparison
    ul
      li IT Manager at BSkyB
      li Dojo Toolkit Committer
      li Civil Partner of Simon
      li Movie Enthuiast
      li Uncle