extends layout

prepend head
  title = "Kitson P. Kelly"
  subtitle = "presence on the interwebs"

block content
  #contact
    ul
      li 
        a#twitter(href="http://twitter.com/kitsonk", target="_blank", title="Twitter") @kitsonk
      li 
        a#gplus(href="http://gplus.to/Kitson", target="_blank", title="Google +") +Kitson
      li 
        a#facebook(href="http://facebook.com/kitsonk", target="_blank", title="FaceBook") facebook.com/kitsonk
      li 
        a#linkedin(href="http://linkedin.com/in/kitsonkelly", target="_blank", title="LinkedIn") linkedin.com/in/kitsonkelly
      li
        a#lastfm(href="http://last.fm/user/kitsonk", target="_blank", title="LastFM") last.fm/user/kitsonk
      li
        a#blog(href="http://blog.kitsonkelly.com", target="_blank", title="WordPress") blog
    span.magra Contact Me
  #comparison
    ul
      li IT Manager at BSkyB
      li Dojo Toolkit Committer
      li Civil Partner of Simon
      li Movie Enthuiast
      li Uncle