extends layout

prepend head
  title = "Kitson P. Kelly"

append scripts
  script(src='/lib/kitsonkelly/src.js')

block content
  header
    h1= title
    p presence on the interwebs
  #comparison
    ul
      li IT Manager at BSkyB
      li Dojo Toolkit Committer
      li Civil Partner of Simon
      li Movie Enthuiast
      li Uncle