doctype 5
html
  head
    block head
      title= title
    
    block css
      style(type='text/css')
        @import '/lib/dijit/themes/claro/claro.css';
        @import '/css/global.css';
    block scripts
      script
        dojoConfig = {
          async: true
        };
      script(src='/lib/dojo/dojo.js')
  body.claro
    block header
      header
        h1= title
        p= subtitle
    block navigation
      #nav
        ul
          li 
            a.button(href="/") home
          li 
            a.button(href="/dojo") dojo
          li 
            a.button(href="/photos") photos
          li 
            a.button(href="/cv") cv/resumé
          li 
            a.button(href="//blog.kitsonkelly.com/") blog
    block content
    block footer
