doctype 5
html
  head
    block head
      title= title
    
    block css
      style(type='text/css')
        @import '/lib/dijit/themes/claro/claro.css';
        @import '/css/global.css';
    block scripts
      script
        dojoConfig = {
          async: true
        };
      script(src='/lib/dojo/dojo.js')
  body.claro
    block header
    block content
    block footer
